<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="org.zerock.mapper.BoardMapper">
    	
    	<sql id="criteria">
    		<trim prefixOverrides="OR">
    			<if test="type != null">
    				<if test="type == 'T'.toString()">
    					AND title LIKE CONCAT('%', #{keyword},'%')
    				</if>
    				<if test="type == 'C'.toString()">
    					AND content LIKE CONCAT('%', #{keyword},'%')
    				</if>
    				<if test="type == 'W'.toString()">
    					AND writer LIKE CONCAT('%', #{keyword},'%')
    				</if>
    				<if test="type == 'TC'.toString()">
    					AND (title LIKE CONCAT('%', #{keyword},'%') OR content LIKE CONCAT('%', #{keyword},'%'))
    				</if>
    				<if test="type == 'CW'.toString()">
    					AND (content LIKE CONCAT('%', #{keyword},'%') OR writer LIKE CONCAT('%', #{keyword},'%'))
    				</if>
    				<if test="type == 'TCW'.toString()">
    					AND (title LIKE CONCAT('%', #{keyword},'%') OR content LIKE CONCAT('%', #{keyword},'%') OR writer LIKE CONCAT('%', #{keyword},'%'))
    				</if>
    			</if>
    		</trim>
    	</sql>
    	<select id="getList" resultType="org.zerock.domain.BoardVO">
    		<![CDATA[
    			select * from tbl_board where bno > 0
    		]]>
    	</select>
    	
    	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
    	<![CDATA[
    		SELECT * FROM (SELECT * FROM tbl_board LIMIT #{pageNum} ,#{amount}) AS temp_tbl where bno > 0
    	]]>
    		<include refid="criteria"></include>
    	</select>
    	
    	<select id="getListTotal" resultType="Integer">
    	<![CDATA[
    		select count(bno) as count from tbl_board where bno > 0
    	]]>
    		<include refid="criteria"></include>
    		
    	</select>
    	<insert id="insert">
    		<![CDATA[
    			insert into tbl_board (title,content,writer) values (#{title}, #{content}, #{writer})
    		 ]]>
    		<selectKey keyProperty="bno" resultType="long">
        		SELECT LAST_INSERT_ID()
    		</selectKey>
    	</insert>
    	
    	<select id="read" resultType="org.zerock.domain.BoardVO">
    		select * from tbl_board where bno = #{bno}
    	</select>
    	
    	<delete id="delete">
    		delete from tbl_board where bno = #{bno}
    	</delete>
    	
    	<update id="update">
    		update tbl_board set title = #{title}, content = #{content}, writer = #{writer}, updateDate = now() where bno = #{bno}
    	</update>
    </mapper>